@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.space-navbar .nav-link {
  animation: pulsate 2s infinite alternate;
}
